{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_onlyofficedocspace/csp_warning

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }
}}
<div style="padding-right:16px;" class="alert alert-dismissible fade show warning-banner d-flex align-items-center justify-content-between" role="alert">
  <div class="csp-warning">
    <h4>{{#str}} cspwarning:head, onlyofficedocspace {{/str}}</h4>
    <p>{{#str}} cspwarning:body, onlyofficedocspace {{/str}} - <span>{{url}}</span></p>
  </div>
  <button type="button" style="position:static;" class="close p-0" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
