{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_onlyofficedocspace/docspace_users

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }
}}
<div class="d-flex flex-column" style="row-gap: 16px;">
  <p class="m-0">{{#str}} docspaceuserscategory:description, mod_onlyofficedocspace, {{#str}} invitetodocspace, mod_onlyofficedocspace {{/str}} {{/str}}</p>
  <table id="ds-invite-users-table" class="table table-striped m-0">
    <thead>
      <tr>
        <th scope="col"><input id="check-all-users" type="checkbox"></th>
        <th scope="col">
          <div class="d-flex align-items-center" style="column-gap: 4px">
            <button type="button" class="sortable" data-sort-property="firstname">{{#str}} firstname {{/str}}</button>
            /
            <button type="button" class="sortable" data-sort-property="lastname">{{#str}} lastname {{/str}}</button>
          </div>
        </th>
        <th scope="col">
          <button type="button" class="sortable" data-sort-property="email">{{#str}} email {{/str}}</button>
        </th>
        <th scope="col">
          <button type="button" class="sortable" data-sort-property="role">{{#str}} role {{/str}}</button>
        </th>
        <th scope="col">
          <button type="button" class="sortable" data-sort-property="status">{{#str}} docspaceuserstatus, mod_onlyofficedocspace {{/str}}</button>
        </th>
        <th scope="col">
          <button type="button" class="sortable" data-sort-property="type">{{#str}} docspaceusertype, mod_onlyofficedocspace {{/str}}</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="6">
          <div class="d-flex justify-content-center align-items-center">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="action-buttons hidden">
    <button
      type="button"
      class="btn btn-primary"
      id="invite-to-docspace"
      disabled
      >
      {{#str}} invitetodocspace, mod_onlyofficedocspace {{/str}}
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      id="unlink-docspace-account"
      disabled
      >
      {{#str}} unlinkdocspaceaccount, mod_onlyofficedocspace {{/str}}
    </button>
  </div>

  <nav>
    <ul id="pagination" class="pagination"></ul>
  </nav>
</div>