{{< core/modal }}
    {{$title}}{{#str}} login {{/str}}{{/title}}
    {{$body}}
        <div id="docspace-login-header">
            <div id="docspace-login-header-icon">
                {{#pix}} moodle_docspace, mod_onlyofficedocspace, Moodle and ONLYOFFICE DocSpace {{/pix}}
            </div>
            <p>
                {{#str}} loginmodal:title, mod_onlyofficedocspace {{/str}}
                <a href="{{url}}" target="_blank">{{url}}</a>
            </p>
        </div>
        <div class="container">
            <form> 
                <p>{{#str}} loginmodal:description, mod_onlyofficedocspace {{/str}}</p>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <input type="email" class="form-control" value="{{email}}" id="ds-login-email" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <input type="password" class="form-control" id="ds-login-password" placeholder="{{#str}} password {{/str}}">
                    </div>
                </div>
                <div style="display:none;" id="ds-login-error" class="alert alert-danger" role="alert">
                    {{#str}} validationerror:password, mod_onlyofficedocspace {{/str}}
                </div>
            </form>
            <div class="d-none"><div id="ds-login-frame"></div></div>
        </div>
    {{/body}}
    {{$footer}}
        <button type="button" class="btn btn-primary" data-action="ds-login-submit">{{#str}} login {{/str}}</button>
        <button type="button" class="btn btn-secondary" data-action="ds-login-cancel">{{#str}} cancel {{/str}}</button>
    {{/footer}}
{{/ core/modal }}