{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_onlyofficedocspace/icons/check_mark

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }
}}
<svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.77931 8.13513C5.28059 8.62162 4.47137 8.62162 3.97289 8.13513L1.17409 5.40491C0.675369 4.91864 0.675369 4.12926 1.17409 3.64299C1.67257 3.15649 2.48178 3.15649 2.9805 3.64299L4.64804 5.26943C4.77392 5.39199 4.97827 5.39199 5.1044 5.26943L9.61959 0.864874C10.1181 0.378375 10.9273 0.378375 11.426 0.864874C11.6655 1.0985 11.8 1.41547 11.8 1.74583C11.8 2.07619 11.6655 2.39317 11.426 2.62679L5.77931 8.13513Z" fill="#657077"/>
</svg>
